:root {
  --color-text: #ccc;
  --color-text: white;
  --color-bg: #151515;
  --color-link: #eda1b6;
}
html {
  font-family: "Martian Mono";
  background: #151515;
  color: #ccc;
  max-width: 800px;
  margin: auto;
  padding: 0.5em;
}
p {
  text-align: justify;
  hyphens: auto;
}
a:hover, a:focus {
  color: #eda1b6;
  outline: none;
}
a {
  color: unset;
  text-decoration: underline dashed;
}
h1,h2,h3 {
  font-family: "Iceberg";
  color: white;
}
header {
  margin-bottom: 1em;
}
.logo:focus, .logo:hover {
  filter: unset;
}
.logo {
  filter: grayscale(50%);
}
header {
  display: flex;
  gap: 1.5em;
}
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 1em;
}
nav a.active:hover, nav a.active:focus {

}
nav a.active {
  color: white;
}
